/////////////////////////////////////////////////////Admin////////////////////////////////

ACCESS_TOKEN_ADMIN_PUBLIC_KEY=" 
-----BEGIN PUBLIC KEY-----
MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgGqp1r8fxCDdj3J4TC4VKX389J5R
35P8s1V2K+M55Pdy3ePJaXZhiHQ6BDTFv+ZTfBxIJFc0t/X6MY0laC1QYNAGTrnw
XYEhy5NQz+bX28p47I2Rm9JwbXmhKUBVkF5yQo4LQuyVrC+Rcwr5Ldx+FOy2E9Px
uZMiYB4uNCAuBnlTAgMBAAE=
-----END PUBLIC KEY-----"

ACCESS_TOKEN_ADMIN_PRIVATE_KEY=" 
-----BEGIN RSA PRIVATE KEY-----
MIICWwIBAAKBgGqp1r8fxCDdj3J4TC4VKX389J5R35P8s1V2K+M55Pdy3ePJaXZh
iHQ6BDTFv+ZTfBxIJFc0t/X6MY0laC1QYNAGTrnwXYEhy5NQz+bX28p47I2Rm9Jw
bXmhKUBVkF5yQo4LQuyVrC+Rcwr5Ldx+FOy2E9PxuZMiYB4uNCAuBnlTAgMBAAEC
gYBJwGO3RXy0iN499UYfewx0i+qMaeohBlLt3cbc19Qk8SzR6xtb+naCfvcXkkBt
Pv6LA6r1DYPBthx7Dwlog7JcXbjp4RlufBEUrU7PAEyWNI3WxQqRK3MZHsufGwH6
9m5vSqK/IuuHc8JZ23Db68hFK7E0+VBfB8Ico/ZJTxoU+QJBAL3O/chK3l+A3yyR
/s+0ye97ZV6ay3t3yxLKtbehYK/PhI7DQUwZiE4aFlE8cv1FrDiAwm8nIk4H+Uob
ITQ6yC0CQQCP3CHbHw+f6B5Rm+SLq+Cg66IKD7KEG12LjrD+uSioigrxhk7wgGXz
Cw2sKLYk6R7aw5BypnXHDmamIWI8+bd/AkEAkKFzO/XgsIEwjXPJ6FdoMDWkrovh
VXmYof8YrI4pcI3+AhLCZMxn0quKKeiX7mnyqzNh9PSq7S6iRFeb24KXGQJANDk2
dSRGeMc70mZkRivkBKblkP93z6tbfyESsbWnw98w79LQ70+9MsitcvTogme6UrIx
yt0Q3m0k6GQwFHCWowJAQ1XbueFjvjkRTtADVov2vAwaiP33Vg8IG/kwtrbt/N9y
Pu4F0JTCpfCLmBVN5/699ZSU2ND22qnuSXBBnYYDNA==
-----END RSA PRIVATE KEY-----"

ACCESS_TOKEN_ADMIN_EXPIRY_IN=1d


REFRESH_TOKEN_ADMIN_PUBLIC_KEY=" 
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC3Br1D7ksTcO7TcuG/F5Yc5N/J
vjcYJl1zAcx+zj2fKq0yDW87/ZvsewJqoonLxykDVyeomPyDK2wMtWZ+gN0RZfu9
MvucD+3TUPTDzb5YZFaRYkEazfnCiMcco0/DLhzggI+NRQvqVMv1DVHsTI4dSf57
OcF7g0XmINrchiE1KwIDAQAB
-----END PUBLIC KEY-----"

REFRESH_TOKEN_ADMIN_PRIVATE_KEY=" 
-----BEGIN RSA PRIVATE KEY-----
MIICXgIBAAKBgQC3Br1D7ksTcO7TcuG/F5Yc5N/JvjcYJl1zAcx+zj2fKq0yDW87
/ZvsewJqoonLxykDVyeomPyDK2wMtWZ+gN0RZfu9MvucD+3TUPTDzb5YZFaRYkEa
zfnCiMcco0/DLhzggI+NRQvqVMv1DVHsTI4dSf57OcF7g0XmINrchiE1KwIDAQAB
AoGBAJGjLjWAx4K3yYK+Fn4NUai6Qozw7DwuQwwBsWxxxj0CI4EBibKt0kXxd/HM
VmOtnagH0QnqenwRsE/IhL9C4STfHYsw4FWI/KOo3TtStoJWuD+O6USAm2mhO5cZ
+fntgii7iDbG07H/lVZ4qCjbu7mYKaU4FigYFta1ggLaBX7RAkEA43lepeuV/qVH
ySzMACQUaIC7K2SRUW1c+hOG48xJQBSm+ICA2BGSKwRu3/jJduciHq6+rMolm+Aa
Av+pSt4FEwJBAM36dPuvQBcnWN3vTtDMl60kFwb1z7/zFk7fm3lgzy/n3QSNMuM5
TaWQOAzd+KvuwRESVnCLyb7avaNkfRjjSokCQCqHfZ+t3Txf8Hz3aCi6lio3r0bc
paLAvLpwvi6G+kcF1XXuqKg9GMP8LzKm1Bvr+OAdsb6iiMeM7bAT1rYNrosCQQC7
OKj2T9/wa7pR2AAKt7wyCzjHAc04ysp/HK5j0EPiZl01kuYrNN3H3GOmBmjOVnC0
hLd/CwBwcsCmcGNoqMgJAkEA0AxO7hONtI+rQpUZnB6elV0s/UpcAmihOmCzpV5W
IuPFJ2rt4uKQsIfc28i8BmjzoLc2GezyZ3MAOp2RVQzG2g==
-----END RSA PRIVATE KEY-----"

REFRESH_TOKEN_ADMIN_EXPIRY_IN=10d


/////////////////////////////////////////////////////Client////////////////////////////////

ACCESS_TOKEN_CLIENT_PUBLIC_KEY=" 
-----BEGIN PUBLIC KEY-----
MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgHApjijr0VcrsrOdtgSnF71hnV0j
I0Cf9nlmqXmUePJsNipRlWl88LlNFsugiXLRxMoLhPHUp4sMhmzlaQCReSRLdESt
gCCuA4BX9RGGcYEnoeqZg3I6lMAsHrcXqCDPPqI52lqLjxMt1/aGDjAkRJI7cKVd
9QKApScPyaoHfEdpAgMBAAE=
-----END PUBLIC KEY-----"

ACCESS_TOKEN_CLIENT_PRIVATE_KEY=" 
-----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgHApjijr0VcrsrOdtgSnF71hnV0jI0Cf9nlmqXmUePJsNipRlWl8
8LlNFsugiXLRxMoLhPHUp4sMhmzlaQCReSRLdEStgCCuA4BX9RGGcYEnoeqZg3I6
lMAsHrcXqCDPPqI52lqLjxMt1/aGDjAkRJI7cKVd9QKApScPyaoHfEdpAgMBAAEC
gYAvO+DJLN4A1r8v0vfHJ9Lghw4tHdIHshWq9Gfkcnkophd9ZNQGE36Qmn1CDX40
o1A7QfSfns1byk+F5mp8ucaIx7ikiMSp6BqtsNvp2e+iN4ncNPYkTMJWy71VUjmf
++tpArILzlfQijWpUVPTaUpPAZF29BwaEMRIRWqGyl3S7QJBAM9KcZ1cYCJHMmUN
G9quUi+y612sRd6fUHfITfsRbGvhVafReLRBTqmN53+XUCtTuXFDrpMeDw/7NgNA
D8KbIW8CQQCKhKsUurLWqMMyriDcKJWAHmEv0OQmGR1kI37nhd4H7iPIwsM1hUPm
UoEDsIj5fZyxknaRrEpWB7Mzj++doginAkEApuWLQGWFyVOFkbLSQGmmJl1p/4ua
3blrsmWF06Wdo+ZTbsDK7GbAjOeCAkqz845/emBCCJVlDzr1q/xCNC9u5QJAFCr4
1c3RGBv+P7TGqAdorPy/XbzmWv2xH9FjOsZs626q2yIwVeyPVEuS6Tyc1OaLF/eh
N9iEAj6gwtMkKilbZQJBAKBXqkOePeCY9eaVYwKNckxR6E3T7rXs9sKE37h6KYbc
chMCW1d+X2np1usOPxfw6PwouHr1ccqVkTm8svJRA4I=
-----END RSA PRIVATE KEY-----"

ACCESS_TOKEN_CLIENT_EXPIRY_IN=1d


REFRESH_TOKEN_CLIENT_PUBLIC_KEY=" 
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCIDVyZDWX2bQkOtsfHz2l/Xp8G
9Ozr9jAu5+UswdeIDOfYDeAw9g6edSZsYzz5aNxOqKZ7P2TajTL3+Qm0Mo002ynW
SDOPtFeQ7ZL/nHv+08hqWYcArvAKeB5Q1N7racRGfdyFIZVZcSSXKOEPMAWgOvIA
PCI/X6Ne3K9nLwNLNQIDAQAB
-----END PUBLIC KEY-----"

REFRESH_TOKEN_CLIENT_PRIVATE_KEY=" 
-----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgQCIDVyZDWX2bQkOtsfHz2l/Xp8G9Ozr9jAu5+UswdeIDOfYDeAw
9g6edSZsYzz5aNxOqKZ7P2TajTL3+Qm0Mo002ynWSDOPtFeQ7ZL/nHv+08hqWYcA
rvAKeB5Q1N7racRGfdyFIZVZcSSXKOEPMAWgOvIAPCI/X6Ne3K9nLwNLNQIDAQAB
AoGAMDGDfpfXaX5gOf0XMblQJpUvAfjawA8aLFNqw/r6TTA9JDRuGQngTdMzxCs3
GyZA/AAT0Q64vA5OYrat8E4D5I6++Xp/mYr9eXT7niH2PILI0h9dRhJbUcm2YW2/
DehCsrYlPbWzRFRKsqhWI+H7A+NpSvPaman+O8i4zgao/pUCQQD3ozVa+2XtdhO7
DiFZZV7T/KjkTdPY2VEbdQOGL9PLJfsVe0IiH2Fe2Vhjl8N3/oT/8ioROS2wQfRT
2B0h8vw7AkEAjKWDhcKIsZ6xAoQgy3LUnEgLx7yVUxRaAhHcnhCF0tCtyNNf1ccV
/lhbdqQ2wSjXKjmJ6W9X7DsISta1JMAPTwJAGGX7JsioJTpB/WcKAB3NtwMovL2y
RqY6qILh4wGpU1WdpGMtg+Elncu6Oq3EM3lfLzxzypigmMIWyX/8dtDS6wJAVp6Q
884tNYcQaQZK1EGyY1WTu72PEY2VKXUqtEZkxMM0ZFyZxyVHjE+KdPUJq8ilSyII
p7WlJp3sq3q0MR//zQJBALBonAqQYcbGCSxrwXujw09FFrL+2RtZQSGsTpw9WhPe
IzJFsy3akTKVo4kuBtZOUQL7INoUgYm40JK1OWfEuPQ=
-----END RSA PRIVATE KEY-----"

REFRESH_TOKEN_CLIENT_EXPIRY_IN=10d

/////////////////////////////////////////////////////Owner////////////////////////////////

ACCESS_TOKEN_OWNER_PUBLIC_KEY=" 
-----BEGIN PUBLIC KEY-----
MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgH4pAc6M79B48L/AkW6xA6x6bxoC
bhOdD1q0QbxH1PoEoR9oQXTRpuo0ABEsnjcFe8EtkejPdYq1PNpOQM5XOW2Ki/OF
HXkbqRySH3VKP20vm7miqlgr2gNY3gUSFsiCywL34oMJHDRGX7K/FNcRw8MmWtoi
GJMmJWqm9jBCh1SpAgMBAAE=
-----END PUBLIC KEY-----"

ACCESS_TOKEN_OWNER_PRIVATE_KEY=" 
-----BEGIN RSA PRIVATE KEY-----
MIICWwIBAAKBgH4pAc6M79B48L/AkW6xA6x6bxoCbhOdD1q0QbxH1PoEoR9oQXTR
puo0ABEsnjcFe8EtkejPdYq1PNpOQM5XOW2Ki/OFHXkbqRySH3VKP20vm7miqlgr
2gNY3gUSFsiCywL34oMJHDRGX7K/FNcRw8MmWtoiGJMmJWqm9jBCh1SpAgMBAAEC
gYAg9k/dip9BxceJIiQdWqyODPMoRYhDIZ8YYM5oBhCUPk9mqFOp1Pkaafm2gwTX
dVxPLbvYqxOX6SB8HUP7ZXjAUnLsmi91vO5TO1uYPG/Ti7xv8jw5mcc0i/5nvMTF
Pq+xc0rAh8kOpRXJ3yUW/544AHoGHorgBwI0bJnLYvXFgQJBAMvB4JhqG5SU+h5h
8hBsTh4uAgfCV8praoKvXKDGd+EvT/YUea+7omxUBpor1RYN7r3PKxUT4Q8j8QNf
Ln/Hg/ECQQCegdi4V7BogO2TjtAWMkR/AI1jrQ2zmowNBZ9Zm/61t76fubx3AClY
NSlAkciTvX15kvSyjVI2jFSQdvfDLjQ5AkAzB1oVMbW4j1rYkxUJceZafpE5mj1c
T2x8UCi1hx7swWmYKmaTUT2LPbvtjn6uKE0bMjAK9lCN9yVb/9FoZPIxAkEAicUs
nJXDRCID3YR9Az3v4T+WpTNuPFSxNERVy+pVypaJvoUO9ZQTW5LhZzkPULKcFAaS
X3uMINN6URLGqURIqQJAaxL26u/nh1xvfvxxwMdScmE1Bd7lgE2GKbS2WG0qtylg
vEmjYMETp93EL46KGYvtcCldbv5hiaoj0SAhoyQKbA==
-----END RSA PRIVATE KEY-----"

ACCESS_TOKEN_OWNER_EXPIRY_IN=1d


REFRESH_TOKEN_OWNER_PUBLIC_KEY=" 
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCj4V7stP913fJyLDXNLhyKNjYb
W+TIJbmKOD67/AW3Wnhm7BeXtoMotyRBdaEzHdSHTdI6CSShoxolP33U1QuCTuMb
cuj23W4Gpu4VLJX5/HFl54JI/Rm81Lic16ea3E3vKP4C6aTVYqMFxH0UOqUZGWv8
62LaqhRXE0ymhfjP9wIDAQAB
-----END PUBLIC KEY-----"

REFRESH_TOKEN_OWNER_PRIVATE_KEY=" 
-----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgQCj4V7stP913fJyLDXNLhyKNjYbW+TIJbmKOD67/AW3Wnhm7BeX
toMotyRBdaEzHdSHTdI6CSShoxolP33U1QuCTuMbcuj23W4Gpu4VLJX5/HFl54JI
/Rm81Lic16ea3E3vKP4C6aTVYqMFxH0UOqUZGWv862LaqhRXE0ymhfjP9wIDAQAB
AoGAO2f+LhZqqIJ9Wa/3DNrTU7LVKFPGeltah+VdsG1qcQ3lqYGaB9AMeZzyEpye
g9YjbazjMVCRK9rhJnF+nsFf+xSFOEs4tbninhHaoF+mfwUu9V5J02WCKR746O3U
aeY1Aku6Vca1xkx2S5ou5/CTdvWlYRlGvgd7Ph5HG1n6t2ECQQD3w9X8yhagB4cv
PgiQHlKbc9HeJ73PTEnTEK9bzyJOR2/qkColQNA3qOgjY5NGTRsP0CluY8ywyRyD
aYaMEUBHAkEAqVPIno0fmE/WQuPCfhICcAXhZKTYk+LdXKVwhRvrXStE8ySLZYlT
aIARk6rjnLt6sMJBWdjyuvE73D3s8PL60QJBALm1HdVmG+NDAT6VvpFXSQ+fljRv
kUOpqMP9A5NLBCmsPeSQviZCGE8/2Q99eUv+S0RlAEjvoOL5Otf85o5h980CQEQT
NxjnS8iEcHO79bmRrAE1nARGcfwivTQ+Hxqkut9eQf4utww/RZVBx89CaPfeN9lQ
f82LdyrJSXOmQdgtF8ECQHgecXytfvpdFXjNjNCVR50bG0lZ8/Gfh9Tq0S0LMG8/
vwoX9foxBt4OXV5YKxa7plovQ42FP/jbfhycwMrwbzs=
-----END RSA PRIVATE KEY-----"

REFRESH_TOKEN_OWNER_EXPIRY_IN=10d